/* 
=================================
=== HOME ========================
=================================
*/
/* 
=================================
=== MOBILE ======================
=================================
*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .footer-index {
    width: 80%;
    left: 10%;
  }
  .btn a {
    margin-right: 0;
  }
  .btn a:hover {
    margin-right: 0;
  }
  #scrollUp {
    right: 7px;
  }
  .hero-title {
    font-size: 3rem;
    margin-bottom: 0;
  }
  .links {
    flex-direction: column;
  }
  .links a {
    margin-right: 0rem;
    margin-bottom: 1rem;
    width: 9rem;
    text-align: center;
  }
  .links a:hover {
    margin-right: 0rem;
    margin-bottom: 1rem;
    width: 9rem;
    text-align: center;
  }
  .features-intro {
    font-size: 1.5rem;
  }
  .features {
    flex-direction: column;
  }
  .features-intro {
    padding: 0;
  }
  .howitworks-intro {
    font-size: 1.5rem;
  }
  .step {
    padding: 0.5rem;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .footer-index {
    width: 80%;
    left: 10%;
  }
  #scrollUp {
    right: 30px;
  }
  .btn a {
    margin-right: 0;
  }
  .hero-title {
    font-size: 3rem;
    margin-bottom: 0;
  }
  .links a {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .features {
    flex-direction: column;
  }
  .features-intro {
    padding: 0;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .footer-index {
    width: 80%;
    left: 10%;
  }
  #scrollUp {
    right: 10px;
  }
  .features {
    flex-direction: column;
  }
  .features-intro {
    padding: 0;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .footer-index {
    width: 80%;
    left: 10%;
  }
  #scrollUp {
    right: 36px;
  }
  .btn a {
    margin-right: 0;
  }
  .hero-title {
    font-size: 3rem;
    margin-bottom: 0;
  }
  .links a {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .features {
    flex-direction: column;
  }
  .features-intro {
    padding: 0;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .footer-index {
    width: 80%;
    left: 10%;
  }
  .features {
    flex-direction: column;
  }
  .features-intro {
    padding: 0;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .footer-index {
    width: 80%;
    left: 10%;
  }
  #scrollUp {
    right: 5px;
  }
  .btn a {
    margin-right: 0;
  }
  .hero-title {
    font-size: 3rem;
    margin-bottom: 0;
  }
  .links a {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .features {
    flex-direction: column;
  }
  .features-intro {
    padding: 0;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .footer-index {
    width: 80%;
    left: 10%;
  }
  .features {
    flex-direction: column;
  }
  .features-intro {
    padding: 0;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .footer-index {
    width: 80%;
    left: 10%;
  }
  #scrollUp {
    right: 10px;
  }
  .btn a {
    margin-right: 0;
  }
  .hero-title {
    font-size: 3rem;
    margin-bottom: 0;
  }
  .links a {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .features {
    flex-direction: column;
  }
  .features-intro {
    padding: 0;
  }
}
/* 
  =================================
  === TABLET ======================
  =================================
*/
@media only screen and (min-device-width: 768px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
  .footer-index {
    width: 80%;
    left: 10%;
  }
  #scrollUp {
    right: 3px;
  }
  .hero-title {
    font-size: 4rem;
  }
  .features {
    flex-direction: column;
  }
  .features-intro {
    padding: 0;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .footer-index {
    width: 80%;
    left: 10%;
  }
  #scrollUp {
    right: 15px;
  }
  .features {
    flex-direction: column;
  }
  .features-intro {
    padding: 0;
  }
}
@media only screen and (min-device-width: 834px) and (max-device-width: 834px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .hero-title {
    font-size: 4rem;
  }
  #scrollUp {
    right: 7px;
  }
  .features {
    flex-direction: column;
  }
  .features-intro {
    padding: 0;
  }
}
@media only screen and (min-device-width: 1112px) and (max-device-width: 1112px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .footer-index {
    width: 80%;
    left: 10%;
  }
}
@media only screen and (min-device-width: 834px) and (max-device-width: 834px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .footer-index {
    width: 80%;
    left: 10%;
  }
  .features {
    flex-direction: column;
  }
  .features-intro {
    padding: 0;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .footer-index {
    width: 80%;
    left: 10%;
  }
  #scrollUp {
    right: 13px;
  }
}
