/* 
=================================
=== DOCUMENT ====================
=================================
*/
/* 
=================================
=== MOBILE ======================
=================================
*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .doc-footer {
    width: 80%;
    left: 10%;
  }
  #scrollUp {
    right: 15px;
  }
  .doc-title {
    font-size: 2rem;
  }
  .doc_info {
    font-size: 0.75rem;
  }
  .doc_p {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .doc-footer {
    width: 80%;
    left: 10%;
  }
  #scrollUp {
    right: 7px;
  }
  .doc-title {
    font-size: 3.5rem;
  }
  .doc_p {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  #scrollUp {
    right: 18px;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .doc-footer {
    width: 80%;
    left: 10%;
  }
  #scrollUp {
    right: 5px;
  }
  .doc-title {
    font-size: 4rem;
  }
  .doc_p {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .doc-footer {
    width: 80%;
    left: 10%;
  }
  #scrollUp {
    right: 15px;
  }
  .doc-title {
    font-size: 4rem;
  }
  .doc_p {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .doc-footer {
    width: 80%;
    left: 10%;
  }
  #scrollUp {
    right: 20px;
  }
  .doc_p {
    margin-left: 0px;
    margin-right: 0px;
  }
}
/* 
  =================================
  === TABLET ======================
  =================================
*/
@media only screen and (min-device-width: 768px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
  #scrollUp {
    right: 10px;
  }
  .doc-title {
    font-size: 5rem;
  }
  .doc_p {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media only screen and (min-device-width: 834px) and (max-device-width: 834px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .doc_p {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media only screen and (min-device-width: 834px) and (max-device-width: 834px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  #scrollUp {
    right: 15px;
  }
  .doc-title {
    font-size: 5rem;
  }
  .doc_p {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .doc_p {
    margin-left: 0px;
    margin-right: 0px;
  }
}
