/* 
=================================
=== ABOUT =======================
=================================
*/
/* 
=================================
=== MOBILE ======================
=================================
*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #scrollUp {
    right: 12px;
  }
  .about-footer {
    width: 80%;
    left: 10%;
  }
  .about-intro {
    font-size: 2rem;
  }
  h5 {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  #scrollUp {
    right: 7px;
  }
  .about-footer {
    width: 80%;
    left: 10%;
  }
  h5 {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  #scrollUp {
    right: 18px;
  }
  .about-footer {
    width: 80%;
    left: 10%;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  #scrollUp {
    right: 12px;
  }
  .about-footer {
    width: 80%;
    left: 10%;
  }
  h5 {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .about-footer {
    width: 80%;
    left: 10%;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  #scrollUp {
    right: 12px;
  }
  .about-footer {
    width: 80%;
    left: 10%;
  }
  h5 {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .about-footer {
    width: 80%;
    left: 10%;
  }
  h5 {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  #scrollUp {
    right: 15px;
  }
  .about-footer {
    width: 80%;
    left: 10%;
  }
  h5 {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}
/* 
  =================================
  === TABLET ======================
  =================================
*/
@media only screen and (min-device-width: 768px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
  .about-footer {
    width: 80%;
    left: 10%;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .about-footer {
    width: 80%;
    left: 10%;
  }
}
@media only screen and (min-device-width: 834px) and (max-device-width: 834px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .about-footer {
    width: 80%;
    left: 10%;
  }
}
@media only screen and (min-device-width: 1112px) and (max-device-width: 1112px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .about-footer {
    width: 80%;
    left: 10%;
  }
}
@media only screen and (min-device-width: 834px) and (max-device-width: 834px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .about-footer {
    width: 80%;
    left: 10%;
  }
}
@media only screen and (min-device-width: 1194px) and (max-device-width: 1194px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .about-footer {
    width: 80%;
    left: 10%;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .about-footer {
    width: 80%;
    left: 10%;
  }
}
@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .about-footer {
    width: 80%;
    left: 10%;
  }
}
